# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\Rik.Essenius\source\repos\essenius\WaterMeterCpp codebase based on best match to current usage at 20-Mar-2022
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*]
indent_size=4
max_line_length=150
